AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
MEDIA_BUCKET_NAME=your-media-bucket-name

# Local MinIO development
MINIO_ROOT_USER=your-minio-root-user
MINIO_ROOT_PASSWORD=your-minio-root-password
MINIO_BUCKET_NAME=your-minio-bucket-name
MINIO_ENDPOINT=http://localhost:9000
MINIO_MEDIA_URL_PREFIX=http://localhost:9000/<your-minio-bucket-name>/media
